
#wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    top: 50px;
    margin: auto;
    overflow: hidden;
    padding: 0;
}

#col1 {
    position: relative;
    left: 0;
    width: 300px;
    height: 100%;
    overflow-y: scroll;
    background-color: #2A2B2F;
    color: #eeeeee;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}

#col2 {
    position: relative;
    width: 300px;
    top: 0;
    background-color: aquamarine;
    overflow-y: scroll;
    height: 100%;
}

#col3 {
    position: relative;
    top: 0;
    background-color: burlywood;
    height: 100%;
    overflow-y: scroll;
    width: 300px;
}

#col4 {
    position: relative;
    top: 0;
    background-color: darkgray;
    height: 100%;
    overflow-y: scroll;
    width: 300px;
}

.twipanel {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}
