<html ng-app="TwitterStreams">
    <head>
        <link rel="stylesheet" media="screen" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        @*<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">*@
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.10/angular.min.js"></script>
        <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body ng-controller ="MainCtrl">
        <div class="container-fluid">
            <div class="row">
                <h3>Controllers</h3>
                <div class="row">
                    <div class="col-md-2"><input type="text" placeholder="Something" class="form-control" ng-model="keyword" /></div>
                    <a href="" class="btn btn-success" ng-click="addPanel(keyword)">Add panel</a>
                    <a href="" class="btn btn-danger" ng-click="clear()">Clear</a>
                </div>
            </div>
            <div id="main_row" class="row">
            </div>
        </div>
    </body>
</html>